.form {
    display: flex;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.766), rgba(0, 0, 0, 0.846)), url(../img/banner.jpg);
    background-position: center;
    background-size: cover;
    justify-content: space-evenly;
    padding: 30px;
    width: 100%;
    min-height: 70vh;
    max-height: 100%;

    &__map {
        display: flex;
        flex-direction: column;
        width: 50%;
        h3 {
            color: $bg-color;
            font-size: 2.3rem;
            font-family: $font-text;
            font-weight: 900;
            padding: 10px;
        }
        p {
            color: $color-text;
            font-size: 1.5rem;
            width: 70%;
            padding: 10px;
        }

        &__icons {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 70%;
            gap: 15px;
            color: $bg-color;
            &__content {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: #c5310034;
                border: 1px solid $bg-color;
                border-radius: 0.3rem;
                padding: 10px;
                p {
                    font-size: 1rem;
                    text-align: center;
                    width: 100%;
                }
                i {
                    font-size: 1.7rem;
                }
            }
        }

        &__social {
            width: 70%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 30px 0px;

            h4 {
                color: $bg-color;
                font-size: 1.5rem;
                font-family: $font-text;
                font-weight: 900;
            }
            i {
                color: $bg-color;
                cursor: pointer;
                font-size: 1.5rem;
                transition: 0.5s;
                margin-top: 20px;
                margin-right: 20px;
                padding: 5px;

                &:hover {
                    background-color: $color-text;
                    border-radius: 100%;
                    color: $bg-color-hover;
                    transform: scale(1.05);
                }
            }
        }
    }

    .formulario {
        width: 40%;
        height: 100%;

        label {
            color: $bg-color;
            font-size: 1.5rem;
            font-family: $font-text;
            font-weight: 900;
        }

        textarea {
            resize: none;
            width: 100%;
            height: 200px;
        }

        input{
            outline: $bg-color;
        }

        button {
            width: max-content;
            display: inline-block;
            color: $color-text;
            background: $bg-color;
            font-size: 1rem;
            padding: 0.75em 1.2rem;
            border-radius: 0.4rem;
            border: 1px solid $color-text;
            transition: $transition;
            cursor: pointer;
            text-decoration: none;

            &:hover {
                background-color: $color-text;
                color: $bg-color;
                border-color: $bg-color;
            }
        }
    }
}
